@define-color surface_container_lowest #000000;
@define-color surface_container_low    #170e10;
@define-color surface_container        #392025;
@define-color primary                  #ba6e7d;
@define-color on_background            #c3af92;
@define-color error                    #59313a;
