@import 'colors.css';

* {
    font-family: "JetBrainsMono NFP";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: @surface_container_lowest;
    background-color: @surface_container_lowest;
    color: transparent;
    transition-property: background-color;
    transition-duration: 0.1s;
    margin: 0;
    border-radius: 0px
}


button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#custom-cava {
    font-family: "Tahoma";
}

#workspaces {
    margin: 2 0 0 0;
    border-radius: 14px;
}

#workspaces button {
    background: @surface_container_lowest;
    color: @primary;
    padding: 0 4px;
    margin: 0 2px;
}

.modules-left {
    background-color: @surface_container_lowest;
}

#workspaces button.focused {
    color: @primary;
}
#workspaces button.active {
    background-color: @surface_container_low;
    color: @primary;
    border-radius: 0;
    border-top: 2px solid @primary;
    margin-top: -2px;
}

#workspaces button.urgent {
    background-color: @error;
    color: @surface_container;
}

#clock {
    background-color: @surface_container_lowest;
    color: @primary;
    padding: 0 12 0 12
}

#clock.date {
    color: @on_background;
}

#pulseaudio,
#mpd,
#mpris,
#custom-exit,
#memory,
#cpu,
#custom-cava,
#language {
    background-color: @surface_container_lowest;
    color: @primary;
    padding: 5 7 5 7
}

#tray {
    background-color: @surface_container_lowest;
    color: @primary;
    padding: 5 8 5 8;
}

#custom-exit {
    padding: 5 10 5 10
}

#pulseaudio:hover,
#mpd:hover,
#memory:hover,
#mpris:hover,
#cpu:hover,
#custom-exit:hover,
#clock:hover,
#language:hover {
    background-color: @surface_container_low;
}
