@define-color surface_container_lowest #13141C;
@define-color surface_container_low    #1a1b26;
@define-color surface_container        #1a1b26;
@define-color primary                  #7aa2f7;
@define-color on_background            #a9b1d6;
@define-color error                    #f7768e;
