@define-color surface_container_lowest #000000;
@define-color surface_container_low    #0B0B11;
@define-color surface_container        #0B0B11;
@define-color primary                  #94e2d5;
@define-color on_background            #94e2d5;
@define-color error                    #f38ba8;
