/**
 * @name active
 * @description a dark, customizable discord theme. based on nord theme (https://nordtheme.com).
 * @author refact0r
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/flavors/midnight-nord.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

body {
    /* font, change to '' for default discord font */
    --font: 'JetBrainsMono NF'; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400 /* normal text font weight. DOES NOT AFFECT BOLD TEXT */;

    /* sizes */
    --gap: 4px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 0px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: off; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 0px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: aligned; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
    --chatbar-padding: 8px; /* padding of the chatbar. only applies in aligned mode. */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-3); /* text on colored elements */
    --text-1: #b4befe; /* other normally white text */
    --text-2: #cdd6f4; /* headings and important text */
    --text-3: #cdd6f4; /* normal text */
    --text-4: #a6adc8; /* icon buttons and channels */
    --text-5: #6c7086; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #313244; /* dark buttons when clicked */
    --bg-2: #1e1e2e; /* dark buttons */
    --bg-3: #0B0B11; /* spacing, secondary elements */
    --bg-4: #000000; /* main background color */
    --hover: hsla(240, 20%, 50%, 0.1); /* channels and buttons when hovered */
    --active: hsla(240, 20%, 50%, 0.2); /* channels and buttons when clicked or selected */
    --active-2: hsla(240, 20%, 50%, 0.3); /* extra state for transparent buttons */
    --message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--green-1); /* links and other accent text */
    --accent-2: var(--green-2); /* small accent elements */
    --accent-3: var(--green-3); /* accent buttons */
    --accent-4: var(--green-4); /* accent buttons when hovered */
    --accent-5: var(--green-5); /* accent buttons when clicked */
    --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #43a25a for default */
    --dnd: var(--red-2); /* change to #d83a42 for default */
    --idle: var(--yellow-2); /* change to #ca9654 for default */
    --streaming: var(--purple-2); /* change to #593695  for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* border colors */
    --border-light: hsla(240, 20%, 50%, 0.05); /* general light border color */
    --border: hsla(240, 20%, 50%, 0.1); /* general normal border color */
    --border-hover: hsla(240, 20%, 50%, 0.1); /* border color of panels when hovered */
    --button-border: hsl(0, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: #f5a9c3;
    --red-2: #f38ba8;
    --red-3: #f38ba8;
    --red-4: #e06b9c;
    --red-5: #d25d8d;

    --green-1: #94E2D5;
    --green-2: #94E2D5;
    --green-3: #94E2D5;
    --green-4: #c7fcc2;
    --green-5: #c7fcc2;

    --blue-1: #9cc1ff;
    --blue-2: #89b4fa;
    --blue-3: #89b4fa;
    --blue-4: #74a1e5;
    --blue-5: #6594d6;

    --yellow-1: #fae9b8;
    --yellow-2: #f9e2af;
    --yellow-3: #f9e2af;
    --yellow-4: #e5cd9a;
    --yellow-5: #d6bd8b;

    --purple-1: #f8d0f0;
    --purple-2: #cba6f7;
    --purple-3: #cba6f7;
    --purple-4: #b791e3;
    --purple-5: #a983d5;
}
