@define-color surface_container_lowest #3B4252;
@define-color surface_container_low    #2E3440;
@define-color surface_container        #434C5E;
@define-color primary                  #88C0D0;
@define-color on_background            #D8DEE9;
@define-color error                    #BF616A;
