/* Lain userContent.css*/

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #c3af92 !important;
      --color-accent-primary: #ba6e7d !important;
      --color-accent-primary-hover: rgb(186, 110, 125) !important;
      --color-accent-primary-active: rgb(156, 90, 105) !important;
      background-color: #050404 !important;
      --in-content-page-background: #050404 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #050404 !important;
      --newtab-background-color-secondary: #050404 !important;
      --newtab-element-hover-color: #050404 !important;
      --newtab-text-primary-color: #c3af92 !important;
      --newtab-wordmark-color: #c3af92 !important;
      --newtab-primary-action-background: #ba6e7d !important;
    }

    .icon {
      color: #ba6e7d !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-lain.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Lain/zen-logo-lain.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #ba6e7d !important;
    }

    .top-site-outer .search-topsite {
      background-color: #ba6e7d !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #c2b092 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #050404 !important;
      --in-content-text-color: #c3af92 !important;
      --link-color: #ba6e7d !important;
      --link-color-hover: rgb(186, 110, 125) !important;
      --zen-colors-primary: #392025 !important;
      --in-content-box-background: #392025 !important;
      --zen-primary-color: #ba6e7d !important;
    }

    groupbox , moz-card{
      background: #050404 !important;
    }

    button,
    groupbox menulist {
      background: #392025 !important;
      color: #c3af92 !important;
    }

    .main-content {
      background-color: #050404 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #ba6e7d !important;
      --identity-icon-color: #ba6e7d !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #c2b092 !important;
      --identity-icon-color: #c2b092 !important;
    }

    .identity-color-green {
      --identity-tab-color: #c2b092 !important;
      --identity-icon-color: #c2b092 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #c3af92 !important;
      --identity-icon-color: #c3af92 !important;
    }

    .identity-color-orange {
      --identity-tab-color: #59313a !important;
      --identity-icon-color: #59313a !important;
    }

    .identity-color-red {
      --identity-tab-color: #59313a !important;
      --identity-icon-color: #59313a !important;
    }

    .identity-color-pink {
      --identity-tab-color: #ba6e7d !important;
      --identity-icon-color: #ba6e7d !important;
    }

    .identity-color-purple {
      --identity-tab-color: #ba6e7d !important;
      --identity-icon-color: #ba6e7d !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #050404 !important;
      --background-color-box: #050404 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #050404 !important;
      --social-color: #ba6e7d !important;
      --coockie-color: #c2b092 !important;
      --fingerprinter-color: #c3af92 !important;
      --cryptominer-color: #c3af92 !important;
      --tracker-color: #c2b092 !important;
      --in-content-primary-button-background-hover: rgb(57, 32, 37) !important;
      --in-content-primary-button-text-color-hover: #c3af92 !important;
      --in-content-primary-button-background: #392025 !important;
      --in-content-primary-button-text-color: #c3af92 !important;
    }


    .card {
      background-color: #050404 !important;
    }
  }
}
