layout {

    focus-ring {
        active-color   "#c1cba6"
        inactive-color "#131411"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c1cba6"
        inactive-color "#131411"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c1cba6"
        inactive-color "#424a2e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c1cba680"
    }
}

recent-windows {
    highlight {
        active-color "#c1cba6"
        urgent-color "#ffb4ab"
    }
}
