@define-color surface_container_lowest #11111b;
@define-color surface_container_low    #181825;
@define-color surface_container        #1e1e2e;
@define-color primary                  #cba6f7;
@define-color on_background            #cdd6f4;
@define-color error                    #f38ba8;
