@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #e5e9f0 !important;
      --color-accent-primary: #88c0d0 !important;
      --color-accent-primary-hover: rgb(151, 201, 214) !important;
      --color-accent-primary-active: rgb(135, 179, 206) !important;
      background-color: #2e3440 !important;
      --in-content-page-background: #2e3440 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #2e3440 !important;
      --newtab-background-color-secondary: #2e3440 !important;
      --newtab-element-hover-color: #2e3440 !important;
      --newtab-text-primary-color: #e5e9f0 !important;
      --newtab-wordmark-color: #e5e9f0 !important;
      --newtab-primary-action-background: #88c0d0 !important;
    }

    .icon {
      color: #88c0d0 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-mocha.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Mocha/Mauve/zen-logo-mocha.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #88c0d0 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #81a1c1 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a3be8c !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #242933 !important;
      --in-content-text-color: #e5e9f0 !important;
      --link-color: #88c0d0 !important;
      --link-color-hover: rgb(151, 201, 214) !important;
      --zen-colors-primary: #2e3440 !important;
      --in-content-box-background: #2e3440 !important;
      --zen-primary-color: #88c0d0 !important;
    }

    groupbox , moz-card{
      background: #2e3440 !important;
    }

    button,
    groupbox menulist {
      background: #2e3440 !important;
      color: #e5e9f0 !important;
    }

    .main-content {
      background-color: #1f232b !important;
    }

    .identity-color-blue {
      --identity-tab-color: #81a1c1 !important;
      --identity-icon-color: #81a1c1 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8fbcbb !important;
      --identity-icon-color: #8fbcbb !important;
    }

    .identity-color-green {
      --identity-tab-color: #a3be8c !important;
      --identity-icon-color: #a3be8c !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #ebcb8b !important;
      --identity-icon-color: #ebcb8b !important;
    }

    .identity-color-orange {
      --identity-tab-color: #d08770 !important;
      --identity-icon-color: #d08770 !important;
    }

    .identity-color-red {
      --identity-tab-color: #bf616a !important;
      --identity-icon-color: #bf616a !important;
    }

    .identity-color-pink {
      --identity-tab-color: #b48ead !important;
      --identity-icon-color: #b48ead !important;
    }

    .identity-color-purple {
      --identity-tab-color: #8fbcbb !important;
      --identity-icon-color: #8fbcbb !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #242933 !important;
      --background-color-box: #2e3440 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #2e3440 !important;
      --social-color: #88c0d0 !important;
      --coockie-color: #81a1c1 !important;
      --fingerprinter-color: #ebcb8b !important;
      --cryptominer-color: #8fbcbb !important;
      --tracker-color: #a3be8c !important;
      --in-content-primary-button-background-hover: rgb(86, 94, 113) !important;
      --in-content-primary-button-text-color-hover: #e5e9f0 !important;
      --in-content-primary-button-background: #434c5e !important;
      --in-content-primary-button-text-color: #e5e9f0 !important;
    }


    .card {
      background-color: #2e3440 !important;
    }
  }
}
